In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\sruth\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\sruth\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sruth\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sruth\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sruth\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\sruth\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sruth\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sruth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sruth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\sruth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sruth\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\sruth\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sruth\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\sruth\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [19]:
driver.close()

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
search_field_designation=driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [7]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [8]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [9]:
driver.get(url)

In [10]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [11]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="edad0f9e-0118-444c-b8f4-d9ef1716615c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="226ae2e4-2dd2-4d5b-bc4a-a78b5ccff163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="c43b8238-a623-40a9-aef7-f02a24891774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="a80df5a0-baa6-4278-8826-d7d09adbc1ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="d04806a5-7342-4d0a-a5b2-2fe3b557e4fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="c6fd34f5-28af-4c3e-bc25-b61d11ca20dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="6fd6813d-b920-4f83-b445-3351453eeb52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="0b952332-3777-4602-aab9-bfc87d9fa335")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="d6877ebf-eb4a-49a1-b3f2-935e111329f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="0c4836ca-ec8d-42f5-a3fa-07f11a1017ed")>]

In [12]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Senior Data Analyst II',
 'Senior Data Analyst II',
 'Data Analysts with Business Analysis',
 'Data Analyst / Data Engineer',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Business Analyst/Data Analyst',
 'Senior Data Analyst - KPO',
 'Senior Data Analyst',
 'Consultant - Data Analyst']

In [13]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="c6b557db-6593-414e-94d9-724070d9b733")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="edca884a-98ce-446b-ac79-88fb1f176f7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="de9171bd-7c74-463b-a2e7-a9438c5bc23e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="1d0fcb1a-e3d7-415e-8355-c3e6e155bfea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="5ee41861-1339-4c37-ac54-b3efb6696cad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="22f8000f-e615-49b3-bf60-3d7df1784762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="834b8f99-d670-44cf-874c-3ebeb344e651")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="6b700517-ea32-43d1-adf5-fae4d433b846")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="7c3659f9-27a8-4026-869f-c93a7848a045")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="238f58d1-0ab3-42fa-8c72-6da4283ffca5")>]

In [14]:
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['Flipkart',
 'Flipkart',
 'Avanze Technologies India Pvt. Ltd.',
 'TALENT MAX HR & MANAGEMENT CONSULTANTS',
 'Flipkart',
 'Siemens',
 'Telamon HR Solutions',
 'Huquo Consulting Pvt. Ltd',
 'Cerner',
 'Flipkart']

In [15]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="4090cfbc-6de8-4dfb-8bed-333645df4f4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="68bd345e-b166-42f5-8499-37ac72ceaca4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="36194ef0-b7ca-4b60-a3f1-c9b7bc477652")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="5279b1a4-bb28-42d9-8df1-97ef9519503e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="78de1120-8e25-4968-84b5-84ce462cbae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="ccd5111f-83fd-4d87-838f-bc2a5f15e293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="27e8f6ef-a366-49bb-85b8-00e85395ed3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="038a350f-6e91-4e8f-8f28-98992fd5265b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="e4ee8fb6-6c5b-48ee-a461-d9749843b0f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="afda7360-6cd9-4f87-9344-7886ba7a1439")>]

In [16]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['2-4 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '8-13 Yrs',
 '4-6 Yrs',
 '0-10 Yrs',
 '3-5 Yrs',
 '7-12 Yrs',
 '8-12 Yrs',
 '1-3 Yrs']

In [17]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="832e7527-2efe-4d03-b005-397528e0d119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="f6482b80-7ed8-4d3a-bd0e-60653f5baf76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="2170bfb0-f269-4fbf-8a3c-433ba961992f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="b5d3f891-8399-4827-8c73-2d6d7fd0c635")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="f2c12742-8917-4e1e-ac90-5d7926f2b9d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="9f1a1506-f02b-49bf-8c16-174506f630ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="93e4b3a6-6140-4fda-919b-df8b8bd6bb3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="ab4eed45-5501-4bac-a6b6-35884e96d517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="c7ed8cdb-a5a6-43c9-ad91-7ad6dbce9a06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="472bcff20f01990c14e47e2ab2dc8373", element="fcaf75c6-bef1-4f2e-9d8c-a50851454111")>]

In [18]:
for i in location_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Indore, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [19]:
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

20 20 20 20

In [20]:
jobs=pd.DataFrame({})
jobs["title"]=job_titles
jobs["company"]=company_names
jobs["experience"]=experience_list
jobs["location"]=location_list

In [21]:
jobs

,title,company,experience,location
0,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
2,Data Analysts with Business Analysis,Avanze Technologies India Pvt. Ltd.,6-8 Yrs,Bangalore/Bengaluru
3,Data Analyst / Data Engineer,TALENT MAX HR & MANAGEMENT CONSULTANTS,8-13 Yrs,"Indore, Pune, Bangalore/Bengaluru"
4,Senior Data Analyst,Flipkart,4-6 Yrs,Bangalore/Bengaluru
5,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
6,Business Analyst/Data Analyst,Telamon HR Solutions,3-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Senior Data Analyst - KPO,Huquo Consulting Pvt. Ltd,7-12 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Senior Data Analyst,Cerner,8-12 Yrs,Bangalore/Bengaluru
9,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru
10,Data Analyst,Enrich talents,0-4 Yrs,Bangalore/Bengaluru
11,Blockchain AML Data Analyst,PayPal,3-7 Yrs,Bangalore/Bengaluru
12,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
13,Senior Data Analyst,LatentView,2-6 Yrs,"Chennai, Bangalore/Bengaluru"
14,Data Analyst - Python/SQL,Affine,3-5 Yrs,Bangalore/Bengaluru
15,Data Analyst,AECOM,2-7 Yrs,Bangalore/Bengaluru
16,Data Analyst - IT,Yespired,3-8 Yrs,Bangalore/Bengaluru
17,"Business Analyst - Data Science & Analytics, Omni",MORE RETAIL PRIVATE LIMITED,1-5 Yrs,Bangalore/Bengaluru
18,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
19,Senior Data Analyst,FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [28]:
driver = webdriver.Chrome(r"C:\Users\sruth\Downloads\chromedriver_win32\chromedriver.exe")

In [29]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [30]:
driver.get("https://www.naukri.com/")

In [31]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [32]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [33]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [34]:
driver.get(url)

In [35]:
job_titles=[]
company_names=[]
job_location=[]

In [36]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['ASSOCIATE DATA SCIENTIST',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist/Engineer - Global Telecom Setup',
 'Analyst- Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Senior Data Scientist/Data Scientist - Research/Analytics/Consulting']

In [37]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['Hinduja Global',
 'IBM',
 'Applied Materials',
 'Applied Materials',
 'IBM',
 'Applied Materials',
 'Global Telecom Setup',
 'Sigma Aldrich',
 'Bristlecone',
 'Hexaconcepts']

In [39]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [40]:
print(len(job_titles),len(company_names),len(job_location))

20 20 20

In [41]:
jobs=pd.DataFrame({})
jobs["title"]=job_titles
jobs["company"]=company_names
jobs["location"]=job_location

In [42]:
jobs

,title,company,location
0,ASSOCIATE DATA SCIENTIST,Hinduja Global,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
2,Data Scientist,Applied Materials,Bangalore/Bengaluru
3,Data Scientist,Applied Materials,Bangalore/Bengaluru
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
5,Data Scientist,Applied Materials,Bangalore/Bengaluru
6,Data Scientist/Engineer - Global Telecom Setup,Global Telecom Setup,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
7,Analyst- Data Scientist,Sigma Aldrich,Bangalore/Bengaluru
8,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru"
9,Senior Data Scientist/Data Scientist - Researc...,Hexaconcepts,Bangalore/Bengaluru
10,Data Scientist,GSK India,Bangalore/Bengaluru
11,Immediate requirement of Data Scientist ( Bang...,Firstsource Solutions Limited,Bangalore/Bengaluru
12,Senior Data Scientist,GSK India,Bangalore/Bengaluru
13,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
14,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
15,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
16,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
17,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
18,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
19,Data Scientist,Applied Materials,Bangalore/Bengaluru

In [136]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [137]:
driver = webdriver.Chrome(r"C:\Users\sruth\Downloads\chromedriver_win32\chromedriver.exe")

In [138]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [139]:
driver.get("https://www.naukri.com/")

In [140]:
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Delhi/NCR")

In [141]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [142]:
search_checkbox=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[12]/div[2]/div[2]/label/p")
search_checkbox.click()

In [146]:
search_salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]")
search_salary.click()

In [147]:
job_titles=[]
job_location=[]
company_names=[]
salary_perannum=[]

In [148]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Hiring For Senior Data Scientist-Noida',
 'Opening For Data Scientist',
 'Data Scientist (freelance)',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Senior Data Scientist',
 'AM Data Scientist - Goods & Service Tax Network, Delhi',
 'Data Scientist - MIND Infotech']

In [149]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
for i in company_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['Lumiq.ai',
 'Care Health Insurance',
 '2Coms',
 'Creative Hands HR Consultancy',
 'BlackBuck',
 'Boston Consulting Group',
 'HCL Technologies',
 'iNICU',
 'NISG (National Institute for Smart Government)',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED']

In [150]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Noida, Greater Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'New Delhi, Delhi',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'New Delhi',
 'Noida, Delhi / NCR',
 'Delhi',
 'Delhi / NCR',
 'Noida']

In [151]:
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
salary_tags[0:10]
for i in salary_tags:
    salary=i.text
    salary_perannum.append(salary)
salary_perannum[0:10]

['Not disclosed',
 '3,00,000 - 7,00,000 PA.',
 '4,75,000 - 9,75,000 PA.',
 '5,00,000 - 7,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [152]:
print(len(job_titles),len(company_names),len(job_location),len(salary_perannum))

20 20 20 20

In [153]:
jobs=pd.DataFrame({})
jobs["title"]=job_titles
jobs["company"]=company_names
jobs["location"]=job_location
jobs["salary"]=salary_perannum

In [154]:
jobs

,title,company,location,salary
0,Hiring For Senior Data Scientist-Noida,Lumiq.ai,"Noida, Greater Noida, Delhi / NCR",Not disclosed
1,Opening For Data Scientist,Care Health Insurance,Gurgaon/Gurugram,"3,00,000 - 7,00,000 PA."
2,Data Scientist (freelance),2Coms,"New Delhi, Delhi","4,75,000 - 9,75,000 PA."
3,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...","5,00,000 - 7,00,000 PA."
4,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",Not disclosed
5,Data Scientist,Boston Consulting Group,New Delhi,Not disclosed
6,Urgent Requirement || Data Scientist || Noida,HCL Technologies,"Noida, Delhi / NCR",Not disclosed
7,Senior Data Scientist,iNICU,Delhi,Not disclosed
8,AM Data Scientist - Goods & Service Tax Networ...,NISG (National Institute for Smart Government),Delhi / NCR,Not disclosed
9,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,Not disclosed
10,Lead Data Scientist,KIA INDIA PRIVATE LIMITED,Gurgaon/Gurugram,Not disclosed
11,Data Scientist - Python/SQL,AVE-Promagne,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",Not disclosed
12,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Not disclosed
13,Associate Data Scientist,Right Step Consulting,Noida,Not disclosed
14,Junior AI Data Scientist,Seven Consultancy (HR Solution),New Delhi,Not disclosed
15,AM - Data Scientist,GSTN,Delhi / NCR,"4,00,000 - 7,50,000 PA."
16,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,Not disclosed
17,Data Scientist,T & A Solutions,Gurgaon/Gurugram,Not disclosed
18,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon,Not disclosed
19,Data Scientist,CELEBAL TECHNOLOGIES PRIVATE LIMITED,"Ahmedabad, Jaipur, Delhi / NCR",Not disclosed

In [18]:
#sunglasses
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [19]:
driver = webdriver.Chrome(r"C:\Users\sruth\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [21]:
driver.get("https://www.flipkart.com/")

In [22]:
search_field_product=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field_product.send_keys("sunglasses")

In [28]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [29]:
product_names=[]
prices_names=[]
product_description=[]
discount_names=[]

In [37]:
product_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product_tags[0:100]
for i in product_tags:
    product=i.text
    product_names.append(product)
product_names[0:100]

['john jacobs',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'SRPM',
 'New Specs',
 'Fastrack',
 'john jacobs',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'Lee Topper',
 'john jacobs',
 'Lee Topper',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'New Specs',
 'Rich Club',
 'kingsunglasses',
 'hipe',
 'kingsunglasses',
 'PIRASO',
 'SRPM',
 'hipe',
 'SRPM',
 'NuVew',
 'DEIXELS',
 'Elligator',
 'hipe',
 'Rich Club',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'Fastrack',
 'VINCENT CHASE',
 'john jacobs',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'SRPM',
 'New Specs',
 'Fastrack',
 'john jacobs',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'Lee Topper',
 'john jacobs',
 'Lee Topper',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'New Specs',
 'Rich Club',
 'kingsunglasses',
 'hipe',
 'kingsunglasses',
 'PIRASO',
 'SRPM',
 'hipe',
 'SRPM',
 'NuVew',
 'DEIXELS',
 'Elligator',
 'hipe',
 'Rich Club',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'Fastrack',
 'VINCENT CHASE']

In [38]:
prices_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices_tags[0:100]
for i in prices_tags:
    price=i.text
    prices_names.append(price)
prices_names[0:100]

['₹3,900',
 '₹379',
 '₹295',
 '₹249',
 '₹250',
 '₹265',
 '₹639',
 '₹3,500',
 '₹185',
 '₹273',
 '₹275',
 '₹2,500',
 '₹199',
 '₹249',
 '₹249',
 '₹399',
 '₹474',
 '₹249',
 '₹225',
 '₹325',
 '₹639',
 '₹221',
 '₹299',
 '₹348',
 '₹269',
 '₹233',
 '₹209',
 '₹349',
 '₹246',
 '₹258',
 '₹219',
 '₹185',
 '₹217',
 '₹229',
 '₹210',
 '₹253',
 '₹203',
 '₹314',
 '₹719',
 '₹649',
 '₹3,900',
 '₹379',
 '₹295',
 '₹249',
 '₹250',
 '₹265',
 '₹639',
 '₹3,500',
 '₹185',
 '₹273',
 '₹275',
 '₹2,500',
 '₹199',
 '₹249',
 '₹249',
 '₹399',
 '₹474',
 '₹249',
 '₹225',
 '₹325',
 '₹639',
 '₹221',
 '₹299',
 '₹348',
 '₹269',
 '₹233',
 '₹209',
 '₹349',
 '₹246',
 '₹258',
 '₹219',
 '₹185',
 '₹217',
 '₹229',
 '₹210',
 '₹253',
 '₹203',
 '₹314',
 '₹719',
 '₹649']

In [39]:
discount_tags=driver.find_elements_by_xpath("//div[@class='_3I9_wc']")
discount_tags[0:100]
for i in discount_tags:
    price=i.text
    discount_names.append(price)
discount_names[0:100]

['₹6,000',
 '₹1,999',
 '₹2,495',
 '₹1,599',
 '₹1,299',
 '₹1,999',
 '₹799',
 '₹5,000',
 '₹1,699',
 '₹1,299',
 '₹2,499',
 '₹5,000',
 '₹999',
 '₹1,599',
 '₹1,299',
 '₹2,599',
 '₹1,999',
 '₹1,599',
 '₹1,599',
 '₹2,999',
 '₹799',
 '₹1,799',
 '₹1,599',
 '₹999',
 '₹1,999',
 '₹999',
 '₹1,199',
 '₹1,599',
 '₹998',
 '₹1,899',
 '₹999',
 '₹1,050',
 '₹1,199',
 '₹998',
 '₹1,466',
 '₹799',
 '₹999',
 '₹1,699',
 '₹899',
 '₹1,999',
 '₹6,000',
 '₹1,999',
 '₹2,495',
 '₹1,599',
 '₹1,299',
 '₹1,999',
 '₹799',
 '₹5,000',
 '₹1,699',
 '₹1,299',
 '₹2,499',
 '₹5,000',
 '₹999',
 '₹1,599',
 '₹1,299',
 '₹2,599',
 '₹1,999',
 '₹1,599',
 '₹1,599',
 '₹2,999',
 '₹799',
 '₹1,799',
 '₹1,599',
 '₹999',
 '₹1,999',
 '₹999',
 '₹1,199',
 '₹1,599',
 '₹998',
 '₹1,899',
 '₹999',
 '₹1,050',
 '₹1,199',
 '₹998',
 '₹1,466',
 '₹799',
 '₹999',
 '₹1,699',
 '₹899',
 '₹1,999']

In [40]:
discription_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
discription_tags[0:100]
for i in discription_tags:
    discription=i.text
    product_description.append(discription)
product_description[0:100]

['UV Protection Clubmaster Sunglasses (47)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Butterfly Sunglasses (60)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Clubmaster Sunglasses (47)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Butterfly Sunglasses (60)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (54)']

In [41]:
products=pd.DataFrame({})
products["title"]=product_names
products["prices"]=prices_names
products["description"]=product_description
products["discounts"]=discount_names

In [42]:
products

,title,prices,description,discounts
0,john jacobs,"₹3,900",UV Protection Clubmaster Sunglasses (47),"₹6,000"
1,ROZZETTA CRAFT,₹379,"UV Protection, Gradient Rectangular Sunglasses...","₹1,999"
2,Elligator,₹295,UV Protection Round Sunglasses (54),"₹2,495"
3,PIRASO,₹249,UV Protection Aviator Sunglasses (54),"₹1,599"
4,SRPM,₹250,UV Protection Wayfarer Sunglasses (50),"₹1,299"
...,...,...,...,...
75,Rich Club,₹253,"UV Protection, Mirrored, Gradient Round Sungla...",₹799
76,SHAAH COLLECTIONS,₹203,"UV Protection, Polarized, Mirrored Rectangular...",₹999
77,SUNBEE,₹314,"UV Protection, Polarized, Mirrored Round Sungl...","₹1,699"
78,Fastrack,₹719,UV Protection Wayfarer Sunglasses (Free Size),₹899
79,VINCENT CHASE,₹649,UV Protection Cat-eye Sunglasses (54),"₹1,999"

In [99]:
#mobile phone
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [100]:
driver = webdriver.Chrome(r"C:\Users\sruth\Downloads\chromedriver_win32\chromedriver.exe")

In [101]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [102]:
driver.get("https://www.flipkart.com/")

In [103]:
search_field_product=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field_product.send_keys("mobiles")
time.sleep(5)

In [104]:
search_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
search_button.click()

In [105]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [106]:
product_names=[]
product_ratings=[]
review_summary=[]
product_fullreview=[]

In [107]:
product_tags=driver.find_elements_by_xpath("//div[@class='_4rR01T']")
product_tags[0:100]
for i in product_tags:
    product=i.text
    product_names.append(product)
product_names[0:100]

['POCO C31 (Royal Blue, 64 GB)',
 'realme C20 (Cool Blue, 32 GB)',
 'realme C20 (Cool Grey, 32 GB)',
 'POCO M3 Pro 5G (Yellow, 64 GB)',
 'POCO M3 Pro 5G (Cool Blue, 128 GB)',
 'realme C11 2021 (Cool Grey, 32 GB)',
 'realme C11 2021 (Cool Blue, 32 GB)',
 'realme C11 2021 (Cool Blue, 64 GB)',
 'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
 'realme 9i (Prism Blue, 128 GB)',
 'realme 9i (Prism Black, 128 GB)',
 'realme 9i (Prism Blue, 64 GB)',
 'realme 9i (Prism Black, 128 GB)',
 'realme 9i (Prism Black, 64 GB)',
 'realme C21Y (Cross Black, 64 GB)',
 'realme C21Y (Cross Blue, 64 GB)',
 'realme 8 (Cyber Silver, 128 GB)',
 'realme 8 (Cyber Black, 128 GB)',
 'POCO M3 Pro 5G (Cool Blue, 64 GB)',
 'realme C11 2021 (Cool Grey, 64 GB)',
 'realme C21Y (Cross Black, 32 GB)',
 'realme C21Y (Cross Blue, 32 GB)',
 'realme 8 (Cyber Silver, 128 GB)']

In [108]:
product_rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK']")
product_rating[0:100]
for i in product_rating:
    rating=i.text
    product_ratings.append(rating)
product_ratings[0:100]

['4.4',
 '4.4',
 '4.4',
 '4.3',
 '4.2',
 '4.4',
 '4.4',
 '4.3',
 '4.3',
 '4.3',
 '4.3',
 '4.3',
 '4.5',
 '4.5',
 '4.5',
 '4.5',
 '4.5',
 '4.4',
 '4.4',
 '4.3',
 '4.3',
 '4.6',
 '4.6',
 '4.4',
 '4.4',
 '4.4',
 '4.3',
 '4.3',
 '4.5']

In [110]:
search_review=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[2]")
search_review.click()

In [111]:
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
review_tags[0:100]
for i in review_tags:
    review=i.text
    review_summary.append(review)
review_summary[0:100]

['Great mobile with ample features for this price range. Worth the money. Camera clarity improved after updates.',
 'Works good and has nice camera quality.',
 'This is best budget phone.... Poco C31, and order this product because I have Poco M2 Reloaded, i was gift this phone to my sister on her birthday, she loved...\nRead full review',
 'Nice product',
 'Cheapest 5G phone anyone can afford till date with stunning looks. Must go for Cool blue design. Very smooth operation, no UI lag. The best thing is that the...\nRead full review',
 'Good performance and budget phone',
 'Very good working phone\nCamera is fantastic.all is well in this phone\n(Overall excellent phone in this low price) I am very happy to get this phone in this l...\nRead full review',
 'Finger print missing on this model.',
 'A good Mobile in this Budget..Great 👍 Camera quality is Awesome and look and design is really good...Realme 9i is a best mobile ..Loving it ❤',
 "That's good option but display not bright...but also good smartphone....😘😘",
 'Great mobile with ample features for this price range. Worth the money. Camera clarity improved after updates.',
 'Works good and has nice camera quality.',
 'This is best budget phone.... Poco C31, and order this product because I have Poco M2 Reloaded, i was gift this phone to my sister on her birthday, she loved...\nRead full review',
 'Nice product',
 'Cheapest 5G phone anyone can afford till date with stunning looks. Must go for Cool blue design. Very smooth operation, no UI lag. The best thing is that the...\nRead full review',
 'Good performance and budget phone',
 'Very good working phone\nCamera is fantastic.all is well in this phone\n(Overall excellent phone in this low price) I am very happy to get this phone in this l...\nRead full review',
 'Finger print missing on this model.',
 'A good Mobile in this Budget..Great 👍 Camera quality is Awesome and look and design is really good...Realme 9i is a best mobile ..Loving it ❤',
 "That's good option but display not bright...but also good smartphone....😘😘"]